body {
    margin: 60px auto;
    width: 70%;
/*    background-image: ; */
    background-position: center top;
    background-size: cover;
    margin: 10;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 25%;
}

h1 {
  color: SteelBlue;
}

nav ul, footer ul {
    font-family:'Palatino','Palatino Linotype';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
.navbar-brand{
  font-family: 'Palatino','Palatino Linotype';
}
.page-title {
    font-size: 16px;
    font-family:'Optima', 'Calibri';
    text-align: center;
}
.page-description {
    font-size: 14px;
    font-family:'Optima','Calibri';
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
}
p {
    font-size: 16px;
    line-height: 18px;
    color: #333;
    font-family: 'Optima', 'Calibri';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
